body {
    margin: 0;
    padding: 0;

}

.containerADM {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(105, 105, 105);
}

.containerDisplay {
    width: 90%;
    height: 90vh;

    background-color: aliceblue;
}

.btnEscolha {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10vh;

    background-color: aquamarine;
}

.btnEscolha input {
    width: 13%;
    height: 8vh;

    border: 0;
    background-color: yellow;

    border-radius: 20px;

}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.divContendoChat {
    position: fixed;
    bottom: 0;
    right: 0;

    padding: 5px;
    cursor: pointer;
}

.divContendoChatPequeno {
    background-color: #3498db;
}

.divContendoChatGrande {
    display: none;
    background-color: #2c3e50;
    color: #fff;
    height: 60vh;
    width: 20%;

    margin-right: 2%;
    margin-bottom: 15vh;
    border-radius: 5%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

.ChatGrande {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10%;

 }


.Chat {
    width: 50px; /* ou ajuste conforme necessário */
    height: 50px; /* ou ajuste conforme necessário */
}
