<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM</title>
    <link rel="stylesheet" href="../Style/adm-style.css">
</head>

<body>
    <div class="containerADM">
        <div class="containerDisplay">
            <div class="btnEscolha">
                <input type="submit" class="Dat" value="DATABASE">
                <input type="submit" class="Usu" value="USUARIOS">
                <input type="submit" class="AddProd" value="ADPRODUTOS">
                <input type="submit" class="AddCol" value="ADCOLABORADORES">
                <input type="submit" class="UPCol" value="UPCOLABORADORES">
                <input type="submit" class="DelCol" value="DELCOLABORADORES">
                <input type="submit" class="Rel" value="RELATÓRIO">
            </div>
            <div class="exibirMsg">
                <div class="exibirDatabase"></div>
            </div>
        </div>
    </div>
</body>

</html>